/*table {
   background-color: MidnightBlue;
}*/
   

.img-circle {
	margin: auto;
	display: block;
   /*height: 400px;
   background-image:url("https://images-na.ssl-images-amazon.com/images/I/61hw9WloObL._SY355_.jpg");
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center;*/
   }

.container-fluid {
	margin-top: 30px;
}
   
ul {
  font-family: Chaucer, serif;
  color: white;
  background-color: #339;
  font-style: italic;
   }

a:link {
    color: blue;
    text-decoration: none;
   }

a:visited {
    color: violet;
    text-decoration: none;
   }

a:hover {
    color: #f06;
    text-decoration: underline;
    background-color: #708090;
   }

a:active {
    text-decoration: none;
   }

.title {
  text-decoration: underline;
  font-family: 'Play', sans-serif;
  font-weight: bold;
   }