.jumbotron {
	font-family: Georgia, serif;
}

.col-sm-4 {
	font-weight: normal;
}

	
.header {
     text-align: center;
     font-family: 'Gabriela', serif;
    }

a {
    padding-left: 20px;
    }
	
	
a:link {
	color: Blue;
	font-weight: normal;
    }
	
a:visited {
	color: Indigo;
	font-weight: normal;
    }
	
a:hover {
	color: Blue;
	font-weight: bold;
    }
	
a:active {
	color: Blue;
	font-weight: normal;
	text-decoration: none;
    }
	
	
.footer {
     text-align: center;
    }